body, h3 {
    font-family: "Helvetica Neue", Helvetica, "微软雅黑";
    font-size: 12px;
}
.glyphicon {
    margin: 0 5px;
}
*, .btn, .form-control{
	font-size: 12px;
}
#logo{
    width: 284px;
    height: 284px;
    margin: 0 auto;
    display: none;
    position: relative;
    top: -360px;
    margin-bottom: 30px;
}
#logo img, #pagelogo img{
    border-radius: 50%;
    box-shadow: 0 0 30px #aaa;
    width: 100%;
    height: 100%;
}
#pagelogo{
    width: 45px;
    height: 45px;
}
#pagelogo img{
    box-shadow: none;
}
#wrap {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
#errmsg {
    font-size: 12px;
}
.cIndexNumber {
    font-size: 4rem;
    margin: 0 10px;
    color: #f89406;
}
.delIcon {
    float: right;
}
.panel-heading {
    font-weight: bolder;
}
#update_form h3{
    margin: 30px auto;
    font-size: 20px;
}
#info-box h3{
    margin: 30px auto;
    font-size: 20px;
}