body{font-family:"Helvetica Neue",Helvetica,"微软雅黑"}

.glyphicon{
	margin: 0 5px;
}

#wrap{
	height:100%;
	width:80%;
	margin:0 auto;
	border-left:1px solid #333;
	border-right:1px solid #333;
}

#errmsg{
	font-size: 12px;
}

.cIndexNumber{
	font-size: 4rem;
	margin: 0 10px;
	color: #f89406;
}

.panel-heading{
	font-weight: bolder;
}