html, body {
    font-size: 14px;
    background: #272b30;
}
body {
    height: 100%;
}
button {
    outline: none;
}
a:active, a:link, a:visited {
    color: white;
}
ul {
    list-style: none;
}
#index{
    margin-top: 100%;
}
#login{
    margin-top: 20%;
    label{
        font-size: 1.2rem;
        color: white;
    }
}
.navbar {
    margin-bottom: 0;
}
.container {
    height: 100%;
}
#menu {
    height: 100%;
    margin: 0 -15px;
    margin-left: -30px;
    a {
        color: #c8c8c8;
        height: 100px;
        line-height: 70px;
        border-radius: 0;
        margin-top: 0;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .glyphicon {
        margin: 0 20px;
    }
}
#car {
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-size: 14px;
}
#intro, #active, #booklist {
    margin-top: 2rem;
    .content {
        padding: 1rem 0 0;
        pre {
            margin: 0.4rem 0 0;
        }
    }
}

#booklist .status{
    float: right;
    padding: 0 .5rem;
    color: red;
    background-color: white;
    border-radius: 3px;
}
#serviceb {
    margin-top: 2rem;
    label {
        color: white;
    }
}
