html, body {
    font-size: 14px;
    background: url(../image/bg.jpg) 0 0 no-repeat;
    background-size: cover;
}
body{
    height: 100%;
}
button {
    outline: none;
}
a:active, a:link, a:visited {
    color: white;
}
label{
    color: white;
}
ul {
    list-style: none;
}
.navbar{
    margin-bottom: 0;
}
.container{
    height: 100%;
}
#menu {
    height: 100%;
    margin: 0 -15px;
    margin-left: -30px;
    a {
        height: 100px;
        line-height: 70px;
        border-radius: 0;
        margin-top: 0;
        background-color: #5E80A5;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .glyphicon{
        margin: 0 20px;
    }
}

#car{
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: rgba(255,255,255, 0.9);
    color: black;
    font-size: 14px;
}

#intro, #active{
    .content{
        padding: 1rem 0 0 ;
        pre{
            margin: 0.4rem 0 0 ;
        }
    }
}

#serviceb{
    margin-top: 2rem;
}