<div>
    <form role="form" id="loginForm">
        <div class="form-group">
            <label for="memberNum">会员号:</label>
            <input type="text" class="form-control" name="memberNum" placeholder="会员号:">
        </div>
        <div class="form-group">
            <label for="password">密码:</label>
            <input type="password" class="form-control" name="password" placeholder="密码">
        </div>
        <button type="submit" class="btn btn-default btn-lg btn-block">登录</button>
    </form>
</div>
