<div id="menu">
    <a class="btn btn-lg btn-block" href="#/car">
        <span class="glyphicon glyphicon-book"></span>车辆信息</a>
    <a class="btn btn-lg btn-block" style="background-color:#295A00" href="#/sb">
        <span class="glyphicon glyphicon-list-alt"></span>预约服务</a>
    <a class="btn btn-lg btn-block" style="background-color:#95BE02" href="#/bl">
        <span class="glyphicon glyphicon-eye-open"></span>预约查询</a>
    <a class="btn btn-lg btn-block" style="background-color:#F3C903" href="#/active">
        <span class="glyphicon glyphicon-bullhorn"></span>查看活动</a>
    <a class="btn btn-lg btn-block" style="background-color:#DAA604" href="#/notice">
        <span class="glyphicon glyphicon-align-justify"></span>查看公告</a>
</div>
