<div id="serviceb">
    <form id="sbform">
    	<div class="form-group">
            <label>请选择门店：</label>
            <select ng-model="store" class="form-control" name="store">
                <option value="">---请选择门店：---</option>
                <option value="{{s.id}}" ng-repeat="s in stores">{{s.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>请选择服务:</label>
            <select ng-model="selectedBigSort" class="form-control" ng-change="bigSortChange()" name="big_sort">
                <option value="">---请选择大类---</option>
                <option value="{{bs.id}}" ng-repeat="bs in bigSort">{{bs.sname}}</option>
            </select>
        </div>
        <div class="form-group">
            <select ng-model="selectedSubSort" class="form-control" name="sub_sort">
                <option value="">---请选择小类---</option>
                <option value="{{bs[0]}}" ng-repeat="bs in selectedSubSortList">{{bs[1]}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>请选择日期: {{year}}-{{month}}-{{date}}</label>
            <select ng-model="year" class="form-control" ng-change="monthChange()" name="year">
                <option value="">---请选择年---</option>
                <option value="{{y}}" ng-repeat="y in years">{{y}}</option>
            </select>
        </div>
        <div class="form-group">
            <select ng-model="month" class="form-control" ng-change="monthChange()" name="month">
                <option value="">---请选择月---</option>
                <option value="{{m}}" ng-repeat="m in months">{{m}}</option>
            </select>
        </div>
        <div class="form-group">
            <select ng-model="date" class="form-control" name="date">
                <option value="">---请选择日---</option>
                <option value="{{d}}" ng-repeat="d in dates">{{d}}</option>
            </select>
        </div>
        <div class="form-group">
            <label>请选择时间：</label>
            <select ng-model="time" class="form-control" name="time">
                <option value="">---请选择时间：---</option>
                <option value="0">上午</option>
                <option value="1">下午</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">提交预约</button>
    </form>
</div>
